<!DOCTYPE html>
<html>

<head>
  <title>Your Order Confirmation</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,500" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/default.min.css">
  <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js"></script>
</head>
<style>
  body {
    font-family: 'Roboto', sans-serif;
  }
</style>

<body>
  <h2>Your Change Request Result</h2>
  <h3>Change Request File</h3>
  <a>https://abcbcbc</a>
  <h3>Version has</h3>
  <p> fafafafa </p>
  <h3>
    "author": {
    "name": "Jordi Mallach",
    "email": "jordi@softcatala.org"
    timestamp": "2011-12-12T14:27:31+02:00
  </h3>
  <table style="width:100%">
    <tr>
      <th>Id</th>
      <th>SQL TEXT</th>
      <th>i'n'pe'c'tinpect</th>
      <th>executer</th>
    </tr>
    {% for item in order.items %}
    <tr>
      <td> fafafafa </td>
      <td style="background-color: bisque;">
        <pre><code class="sql">create table a.bc(a int)</code></pre>
      </td>
      <td> fafafafa 11111 </td>
      <td> fafafafa 11111 </td>
    </tr>
    {% endfor %}
  </table>
</body>

</html>