<!DOCTYPE html>
<html>

<head>
  <title>Your Order Confirmation</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,500" rel="stylesheet">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/default.min.css">
  <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js"></script>
  <script charset="UTF-8"
    src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/languages/sql.min.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</head>
<style>
  body {
    font-family: 'Roboto', sans-serif;
  }
</style>

<body>
  <h2>Your Change Request Result</h2>
  <h3>Change Request File</h3>
  <a>https://abcbcbc</a>
  <h3>Version has</h3>
  <p> {{ data.sha }} </p>
  <h3> Author </h3>
  <table border="1">
  <tr><td>{{data.author.name}}</td><td>{{data.author.email}}</td></tr>
  </table>
  <h3>SQLS</h3>
  <table style="width:100%" border="1">
    <tr>
      <th>Id</th>
      <th>SQL TEXT</th>
      <th>Inspects Result</th>
      <th>Execute Result</th>
    </tr>
  {%- for sql in data.sqls %}
  <tr>
      <td>{{ loop.index }}</td>
      <td>
        <pre><code class="sql">{{sql.text}}</code></pre>
      </td>
      <td>{% if sql.inspect|length >= 1 %}{{sql.inspect}}{% endif %}</td>
      <td> fafafafa 11111 </td>
    </tr>    
  {% endfor -%}
  </table>
</body>

</html>