<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/styles/default.min.css">
    <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@9.16.2/build/highlight.min.js"></script>
    <script charset="UTF-8" src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.9/languages/sql.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>

<body>
    <pre><code class="sql">create table abc (a int primary key)</code></pre>
</body>

</html>